*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
.main{
    background: #fff;
    width: 98.9vw;
    height: 100vh;
    /* display: flex    ; */
    align-items: center;
    justify-content: center;
    /* overflow:hidden ; */
}
.page1{
    height: 100vh;
    width: 100vw;
}
.middle-box{
    height: 60vh;
    width: 100%;
    /* background: #000; */
    margin-top: 20vh;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstblock{
    height: 50vh;
    width: 20vw;
    /* background: red; */
    margin: 30px 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.secondblock{
    height: 50vh;
    width: 20vw;
    /* background: red; */
    margin: 30px 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.thirdblock{
    height: 50vh;
    width: 20vw;
    /* background: red; */
    margin: 30px 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.round-photo{
    height: 25vh;
    width: 25vh;
    /* background: #000; */
    background: url(images/profile-icon.png);
    background-size: cover;
    margin-top: -10% ;
    border-radius: 50%;
    border: 2px solid black;
}
.block-name{
    height: 7vh;
    width: 30vh;
    background: #000;
    margin-top: 10%; 
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}
.navbar{
overflow-x:hidden ;
display: flex;
align-items: center;
height: 80px;
width: 100%;
padding-left: 1.5rem;
padding-right: 1rem;
/* padding-top: 1rem ; */
top: 0;
left: 0;
background-color: #1f1c1c;
}
.Right-Parts{
display: flex;
justify-content: space-between;
margin-left: 300px;
/* padding: 5px;     */
}
.Home{
margin-right: 30px;
color: #fff;
font-weight: 600;   
}
.Home:hover{
text-decoration: underline;
}
.About-us{
margin-right: 30px;
color: #fff;
font-weight: 600;
}
.About-us:hover{
text-decoration: underline;
}
.about-us-box {
position: absolute;
top: 100%;
left: 70%;
transform: translate(-50%, -50%);
background-color: #fff;
padding: 20px;
border: 1px solid #ddd;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
visibility:hidden;
opacity: 0;
transition: opacity 0.3s ease-in-out;
}

.about-us-box.visible {
visibility: visible;
opacity: 1;
}
.student-services{
margin-right: 30px;
color: #fff;
font-weight: 600;
}
.student-services:hover{
text-decoration: underline;
}
.contact-us{
margin-right: 30px;
color: #fff;
font-weight: 600;
}
.contact-us:hover{
text-decoration: underline;
}
.our-placements{
margin-right: 30px;
color: #fff; 
font-weight: 600;
}
.our-placements:hover{
text-decoration: underline;
}



/*  page2 */



.page2{
    overflow-x: hidden;
height: 100vh;
width: 100vw;
background: #1f1c1c;
align-items: center;
/* justify-content: center; */
display: flex;
flex-direction: column;
}
.page2-title{
width: 100%;
height: 20%;
color: #fff;
align-items: center;
justify-content: center;
display: flex;
font-size: 5rem;
}
.page2-middle-box{
    height: 50vh;
    width: 20vw;
    /* background: red; */
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.round-box{
    width: 12rem;
    height: 12rem;
    background: #fff;
    border-radius: 50%;
    background: url(images/profile-icon.png);
    background-size: cover;
}
#loginForm{
    align-items: center;
    justify-content: center;
    /* display: flex; */
    /* flex-direction: column;     */
}
#email{
    margin: 1rem 1.9rem;
    height: 2rem;
    width: 12rem;
    border-radius: 0.2rem;
    /* background: #000; */
}
.page2-loginButton{
    margin-top: 1rem ;
    margin-left: 6rem;
    height: 2rem;
    width: 5rem;
    border-radius:20px;
}
#password{
    margin-top: 1rem 2rem;
    height: 2rem;
    width: 12rem;
    border-radius: 0.2rem;
    /* background: #000; */
}
.page3{
    overflow-x: hidden;
height: 100vh;
width: 100vw;
background: #fff;
}
.page3-title{
width: 100%;
height: 20%;
color: #000;
align-items: center;
justify-content: center;
display: flex;
font-size: 4.5rem;
}
.page4{
    overflow-x: hidden;
height: 100vh;
width: 100vw;
background: #1f1c1c;
}
.page4-title{
width: 100%;
height: 20%;
color: #fff;
align-items: center;
justify-content: center;
display: flex;
font-size: 4.1rem;
}
