.page2{

    position: relative;
    margin-top: -6.3rem;
    height: 143vh;
    width: 100vw;
    background: #F7F7F7;
    display: flex;
}
.page2-left{
    width: 50%;
    height: 143vh;
    padding-left: 5rem;
    /* background-color: red; */
}
.page2-right{
    width: 50vw;
    height: 143vh;
    overflow: hidden;
    position: relative;
}
.page2-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
    will-change: transform;
  }
.SWS1{
    margin-top: 100px;
    padding-top: 100px; 
    /* margin-left: 150px; */
    font-size: 80px;
    font-weight: 600;
    /* text-align: center; */
}
.SWS-content{
    width: 85%;
    /* margin-left: 150px; */
    font-size: 20px;
    text-align:justify;
    padding-top: 10px;
}
.SWS2{
    /* margin-top: 100px; */
    /* padding-top: 200px;  */
    margin-left: 29rem;
    color: #fff;
    font-size: 40px;
}
.fa-scale-balanced{
    /* color: #000; */
    font-size: 100  px;    
}